doctype html
html(lang='en')
  head
    title Floorplan files
    link(rel='stylesheet' type='text/css' href='/list.css')

  body.Global
    .L-wrap.L-hidden(data-bind='css: { "L-hidden": false }')

      header.TopHeader Files

      form.ArticleForm.L-push(data-bind='submit: initUpload')
        input(placeholder='Leave blank to use file name' data-bind='textInput: title')
        input(type='file' id='file-input' data-bind='value: fakepath')
        a(data-bind='click: initUpload') Add
        p.ArticleForm-error(data-bind='visible: error, text:error')

      .ArticlePending.L-push(data-bind='visible: isPending')

      .ArticleList(data-bind='foreach: articles')
        .ArticleList-article
          .ArticleList-content
            h1(data-bind='text: title')
            .ArticleList-original
              h3 Original
              img(data-bind='attr: { src: original }, visible: show')
              p(data-bind='visible: !show') No preview for PDFs.
            h3(data-bind='visible: thumb.length != 0') Thumb
            .ArticleList-thumb-img(data-bind='foreach: thumb')
              img(data-bind='attr: { src: $data }, visible: $data')
            h3(data-bind='visible: large.length != 0') Large
            .ArticleList-large-img(data-bind='foreach: large')
              img(data-bind='attr: { src: $data }, visible: $data')

    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-min.js')
    script(src='list.js')
